.button {
    -fx-font-weight: bold;
}

/*.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}*/
 
.default-color0.chart-series-line { -fx-stroke: #000000; -fx-stroke-width: 1px; }
.default-color1.chart-series-line { -fx-stroke: #006400; -fx-stroke-width: 1px; }
.default-color2.chart-series-line { -fx-stroke: #B22222; -fx-stroke-width: 1px; }
.default-color3.chart-series-line { -fx-stroke: #8B008B; -fx-stroke-width: 1px; }
.default-color4.chart-series-line { -fx-stroke: #00CED1; -fx-stroke-width: 1px; }

 
.default-color0.chart-line-symbol { -fx-background-color: #000000, white; -fx-stroke-width: 1px; }
.default-color1.chart-line-symbol { -fx-background-color: #006400, white; -fx-stroke-width: 1px; }
.default-color2.chart-line-symbol { -fx-background-color: #B22222, white; -fx-stroke-width: 1px; }
.default-color3.chart-line-symbol { -fx-background-color: #8B008B, white; -fx-stroke-width: 1px; }
.default-color4.chart-line-symbol { -fx-background-color: #00CED1, white; -fx-stroke-width: 1px; }

/*.chart-legend-item-symbol {*/
   /*-fx-background-radius: 0;*/
   /*-fx-stroke-width: 1px;*/
/*}*/

/*.chart-line-symbol { 
    -fx-background-color: #000000, white; 
    -fx-stroke-width: 0px;
}*/

/*.chart-line-symbol {
    -fx-background-color : CHART_COLOR_1, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 7px, 5px;
    -fx-padding          : 7px;
}
.chart-line-symbol:hover {
    -fx-effect: dropshadow(two-pass-box, white, 10, 0, 0, 0);
}
.chart-series-line {
    -fx-stroke      : CHART_COLOR_1;
    -fx-stroke-width: 4px;
}
.default-color0.chart-line-symbol { -fx-background-color: CHART_COLOR_1, white; }

.default-color0.chart-series-line { -fx-stroke: CHART_COLOR_1; }*/

