.button {
    -fx-font-weight: bold;
}

.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
 
/*.default-color0.chart-series-line { -fx-stroke: #e9967a; }
.default-color1.chart-series-line { -fx-stroke: #f0e68c; }
.default-color2.chart-series-line { -fx-stroke: #dda0dd; }*/
 
/*.default-color0.chart-line-symbol { -fx-background-color: #e9967a, white; -fx-stroke-width: 1px; }
.default-color1.chart-line-symbol { -fx-background-color: #f0e68c, white; -fx-stroke-width: 1px; }
.default-color2.chart-line-symbol { -fx-background-color: #dda0dd, white; -fx-stroke-width: 1px; }*/